<section>
  <h1>Account Settings</h1>

  <%= live_component @socket, StrangerWeb.RegistrationFormComponent, changeset: @changeset, section: @section, uploads: @uploads, mode: @mode %>
  <p>
    <%= if @section == 2 do %>
      <button class="btn btn-primary" phx-click="prev">Back</button>
    <% end %>
    <%= if @section == 1 do %>
      <button class="btn btn-primary" phx-click="next">Next</button>
    <% end %>
  </p>
</section>
