<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Stranger", suffix: " · Find a friend" %>
    <link rel="shortcut icon" type="image/x-icon" href="images/title.png" />
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://static.opentok.com/v2/js/opentok.min.js"></script>
  </head>
  <body class="body-<%=@conn.path_info%>">
    <%= if @conn.assigns[:user] do %>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <div class="navbar-brand">
            <a href="<%= Routes.dashboard_path(@conn, :index) %>">
              <%= render StrangerWeb.LogoView, "_logo.html" %>
              <div class="brand-text"> Stranger </div>
            </a>
          </div>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= live_redirect to: Routes.dashboard_path(@conn, :index) do %>
                <i class="fa fa-search" aria-hidden="true"></i>
                Search
              <% end %>
            </li>
            <li class="nav-item">
              <%= live_redirect to: Routes.conversations_path(@conn, :index) do %>
                <i class="fa fa-comments" aria-hidden="true"></i>
                Conversations
              <% end %>
            </li>
            <li class="nav-item">
              <%= live_redirect to: Routes.settings_path(@conn, :index) do %>
                <i class="fa fa-user" aria-hidden="true"></i>
                Account
              <% end %>
            </li>
            <li class="nav-item">
              <%= link to: Routes.session_path(@conn, :sign_out), method: :delete, title: "logout" do %>
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                Log out
              <% end %>
            </li>
          </ul>
        </div>
      </nav>
    <% end %>
    <%= @inner_content %>
  </body>
</html>
