@import "../node_modules/nprogress/nprogress.css";
@import "~bootstrap/scss/bootstrap.scss";
@import "../node_modules/font-awesome/css/font-awesome.css";

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

// ------------------------------------ MY CUSTOM CSS -------------------------


html, body {
  margin: 0;
  height: 100%;
}

.avatar_img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 50%;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
  height: 150px;
}

.avatar-placeholder {
  margin: auto;
  font-size: 7em;
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 10px 25px 10px 25px;
  background: black;
  color: white;
}

/* Add a hover effect (blue shadow) */
.avatar-placeholder:hover, .avatar_img:hover  {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

// NAVBAR STYLES

.nav-item a {
  text-decoration: none;
  color: white;
  padding: 15px;
}

.active-nav i {
  color:red;
  font-size: 1.4em;
}

.navbar {
  height: 60px;
}

.brand-text {
  text-decoration: none;
  color: white;
  font-size: 0.7em;
  font-style: italic;
  font-weight: 500;
}

// VIDEO PAGE STYLES

.subscriber {
  position: absolute !important;
  left: 0;
  top: 55px;
  width: 60%  !important;
  height: 92vh !important;
  z-index: 10;
}

#publisher-div {
  position: absolute;
  width: 360px;
  height: 240px;
  bottom: 10px;
  left: 10px;
  z-index: 100;
  border: 3px solid white;
  border-radius: 3px;
}

#end_meeting_button {
  position: absolute;
  bottom: 10px;
  left: 48%;
  z-index: 101;
}

#stranger_details {
  position: absolute;
  top: 57px;
  left: 61%;
  z-index: 101;
  width: 585px;
}

#stranger_details > div {
  margin-top: 0 !important;
  width: 100% !important;
}

// DASHBOARD PAGE STYLES

.flex-container, .pre-search-flex-container {
  background-color: white;
  height: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 50px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.pre-search-flex-container {
  height: 200px;
  display: flex;
  flex-direction: column;

  #user {
    width: 120px;
  }

  div {
    margin-bottom: 50px;
  }
}

.dashboard_top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;

  h1:first-child {
    font-family: 'Potta One', cursive;
    color: #BF0000;
  }
}

#user {
  width: 100px;
  height: 100px;
}

#user img {
  width: 100px;
  height: 120px;
  border-radius: 50%;
  display: block;
  margin: auto;
}

#search {
  width: 100px;
  height: 100px;
  margin: 20px;
  background-image: url("/images/search_animation.svg");
  background-size: 200%;
  background-position: 150px 165px;
}

#search-text {
  font-weight: bold;
  text-align: center;
  display: block;
  padding-top: 10px;
}

.search-button {
  position: relative;
  top: 120px;
}

#stranger {
  width: 100px;
  height: 100px;
  position: relative;
  animation: going-pass 1.6s linear infinite;
  border-radius: 50%;
  background-image: url("/images/stranger.png");
  background-size: cover;
}

@keyframes going-pass {
  0% {
    transform: translateY(-60px);
    opacity: 0
  }

  50% {
    opacity: 100%
  }

  100% {
    transform: translateY(60px);
    opacity: 0;
  }
}

@keyframes move {
  100% {
    motion-offset: 100%;
    offset-distance: 100%;
  }
}

.matched_message {
  font-size: 1.2em;
  font-weight: bold;
  padding-right: 15px;
  color: darkgreen;
}

// HOME STYLES

.body- {
  background-image: url("/images/friends.jpg");
  background-size: cover;
}

body:not(.body-) {
  background-color: #6666;
}

.home_heading {
  color: white;
  font-family: 'Potta One', cursive;
  font-size: 5em;
}

.home_subheading {
  font-size: 1.2em;
  font-weight: bold;
}

.home_form, .settings_form {
  background: #fff;
  border-radius: 2%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.settings_form {
  margin: auto;
  width: 600px;
  text-align: center;
  padding: 20px 100px 20px 100px;
  margin-top: 50px;
  margin-bottom: 20px;

  label {
    font-weight: bold;
  }
}

.home_form {
  position: absolute;
  padding: 20px;
  right: 20px;
  top: 30px;

  h3 {
    text-align: center;
  }

  .form-link {
    padding-top: 20px;
  }

  .login-section{
    position: relative;
    top: 5%;
  }

  img {
    max-height: 100px;
    max-width: 100px;
  }

  .avatar-input {
    display: flex;
    justify-content: center;
    overflow: hidden; // Fix issues with large image file name
  }
}

.form_navigation {
  height: 30px;
}

.form_heading{
  font-size: 2.2em;
  font-family: 'Potta One', cursive;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  color: navy;
}

.settings_page_heading {
  margin-top: 30px;
  margin-bottom: 30px;
}

.required_field {
  font-weight: bold;
  color: red;
}

.next_button {
  position: absolute;
  right: 10px;
}

// CONVERSATIONS AND MESSAGES STYLES

.conversation-info {
  position: absolute;
  right: 10px;
  top: 0;
  padding: 10px;
}

.conversations_heading {
  font-family: emoji;
  font-size: 2.2em;
  text-align: center;
  font-weight: bold;
  color: navy;
  margin-top: 50px;
}

.profile-error {
  margin-top: 20px;
}

#inifinite-scroll {
  margin-top: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.messages-container {
  background-color: skyblue;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 50px;
}

.bubble {
  position: relative;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 24px;
  max-width: 300px;
  min-height: 70px;
  color: black;
  border-radius: 40px;
  text-align: center;
  color: #000;
  padding-top: 20px;
  margin-bottom: 50px;

  p {
    padding: 20px;
  }
}

.bubble-bottom-left {
  background-color: #DAA514;
  position: relative;
  left: 20px;
}

.bubble-bottom-right {
  background-color: cornflowerblue;
  position: relative;
  left: 72%;
}

.bubble-bottom-left:before, .bubble-bottom-right:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  bottom: -24px;
}

.bubble-bottom-left:before {
  border-left: 24px solid #DAA514;
  border-right: 12px solid transparent;
  border-top: 12px solid #DAA514;
  border-bottom: 20px solid transparent;
  left: 32px;
}

.bubble-bottom-right:before {
  border-right: 24px solid cornflowerblue;
  border-left: 12px solid transparent;
  border-top: 12px solid cornflowerblue;
  border-bottom: 20px solid transparent;
  right: 32px;
}

.message-sender {
  position: absolute;
  font-size: 1.4em;
  font-weight: bold;
  top: 10px;
  left: 20px;
}

.small-bubble {
  max-width: 190px;
  font-size: 0.7em;
  margin-bottom: 40px;
  margin-top: 10px;
  min-height: 50px;
  padding-top: 10px;
}

// CHAT COMPONENT STYLES

#chat_box {
  position: absolute;
  bottom: 56px;
  right: 5px;
  z-index: 200;
  height: 500px;
  width: 500px;
  border-radius: 10px;
  overflow-y: auto;
  background-image: url("/images/chat_background.jpg");
  background-size: contain;
  opacity: 1;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  #messages {
    height: 200px;
    border: 2px solid blue;
  }
}

.chat_input {
  position: absolute;
  right: 5px;
  width: 500px;
  bottom: 0;
  height: 56px;

  .form-group {
    display: flex;
    flex-direction: row;
  }

  input {
    height: 53px;
  }
}

.chat_header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: orange;
  z-index: 250;
  overflow: hidden;
  height: 38px;
  background-color: #4267B2;
  color: white;
}

.close {
  height: 40px !important;
  bottom: 0 !important;
}

.chat_input_close {
  display: none;
}

#chat_box .bubble-bottom-left {
  position: relative !important;
  left: 7px !important;
}

#chat_box .bubble-bottom-right {
  position: relative !important;
  left: 286px !important;
}

#chat_box .message-sender {
  position: relative;
  font-weight: bold;
  top: 10px;
  left: 0px;
  position: relative;
  top: -10px;
}

.chat_messages_close {
  display: none;
}

.chat-content {
  word-break: break-all;
  position: relative;
  top: -24px;
  padding: 10px;
  font-size: 1.3em;
}

.blinking {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  box-shadow: 2px 2px 5px 2px red;
  animation: blink 1s ease infinite;
  position: relative;
  bottom: 4px;
  margin-right: 3px;
  display: inline-block;
}

@keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* SCROLLBAR STYLE */

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px light-grey;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: light-grey;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4);
}
