use Mix.Config

# Endpoint Secrets
config :stranger,
  secret_key: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  salt: "a salt"

# Mongo DB
config :stranger, Mongo,
  name: :mongo,
  pool_size: 2,
  database: "stranger",
  url: "localhost",
  port: "27017"

# ARC Secrets
config :arc,
  hash_secret: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  storage: Arc.Storage.S3,
  bucket: "bucket-name"

# AWS config for avatar storage in s3
config :ex_aws,
  region: "ap-south-1",
  access_key_id: "xxxxxxxxxxxxxxxxxxx",
  secret_access_key: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# Open tok config
config :ex_opentok,
  iss: "project",
  key: "12345678",
  secret: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  ttl: 300
