use Mix.Config

# Endpoint Secrets
config :stranger,
  secret_key: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",       # Create a secret run: `mix phx.gen.secret`
  salt: "a salt"

# Mongo DB
config :stranger, Mongo,
  name: :mongo,
  pool_size: 2,
  database: "stranger",
  url: "localhost",
  port: "27017"

# ARC Secrets
config :arc,
  hash_secret: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",      # Create a secret run: `mix phx.gen.secret`
  storage: Arc.Storage.S3,
  bucket: "bucket-name"                                 # AWS S3 bucket name to upload user profile pictures

# AWS config for avatar storage in s3
config :ex_aws,
  region: "ap-south-1",
  access_key_id: "xxxxxxxxxxxxxxxxxxx",                 # AWS access key
  secret_access_key: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" # AWS secret key

# Open tok config
# Create a free trail opentok account here: https://tokbox.com/developer/
# Get open tok api key and secret key for video chat
config :ex_opentok,
  iss: "project",
  key: "xxxxxxxx",                                      # OpenTok Api Key
  secret: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",           # OpenTok secret key
  ttl: 300
